<div class="container-fluid">
    <h1>Cadastro de Produtos</h1>
    <div class="inputs">
        <div class="col-4">
            <div class="mb-1">
                Nome
            </div>
            <input type="text" class="form-control" [(ngModel)]="products">
        </div>

        <div class="col-4">
            <div class="mb-1">
                Quantidade
            </div>
            <input type="number" class="form-control" [(ngModel)]="productsAmount">
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" (click)="addNewProduct()">
            adicionar
        </button>
    </div>
    <!--     <div class="container">

        <h3>Produtos Cadastrados</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of productsList; let i=index">
                {{product.name}} - {{product.amount}} |
                <a href="#" (click)="delProduct(i)">Excluir</a>

                <a href="#" (click)="editproduct(i,product.name, product.amount)">Editar</a>

            </li>


        </ul>
        <a class="col-2 btn btn-primary" (click)="saveEdit()">
            Salvar</a>
    </div> -->

</div>