<div class="container-fluid">
    <h1>Cadastro de Produtos</h1>
    <div class="inputs">
        <div class="col-4">
            <div class="mb-1">
                Nome
            </div>
            <input type="text" class="form-control" [(ngModel)]="product">
        </div>

        <div class="col-4">
            <div class="mb-1">
                Quantidade
            </div>
            <input type="number" class="form-control" [(ngModel)]="productAmount">
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" (click)="addNewProduct()">
            adicionar
        </button>
    </div>

</div>