<div class="logs-container">
    <div class="logs-header">
        <h5>Logs de Ações</h5>
    </div>
    <div class="logs-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Data</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of listaLogs; let i = index">
                    <td>{{i}}</td>
                    <td>{{log.hora}}</td>
                    <td>{{log.data}}</td>
                    <td>{{log.descricao}}</td>
                    <td>{{log.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="logs-footer">
        <button type="button" class="btn btn-warning" (click)="clearLogs()">
            Limpar
        </button>
    </div>
</div>